.modal_alertSucess {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(121, 121, 121, 0.5);
    animation: fadeIn 0.5s;
}

.modal_alertSucess_content {
    background-color: white;
    display: flex;
    position: absolute;
    width: 300px;
    max-height: 200px;
    animation: slideIn 0.5s;
    top: 30%;
    left: 50%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transform: translateX(-50%);
    opacity: 1;
}

    .modal_alertSucess_content p {
        font-size: 14px;
        color: #797979;
    }

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        margin-top: -50px;
        opacity: 0;
    }

    to {
        margin-top: 0;
        opacity: 1;
    }
}
