input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input {
    border: none;
    outline: none;
    border-bottom: 1px #A7BEC6 solid;
}

    input::placeholder {
        color: #DFDFDF;
        font-size: 14px;
    }

.main_editor_950 {
    width: 1200px;
    height: auto;
    min-height: 950px;
    position: relative;
    background-color: #F6F2F1;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.div_login {
    width: 400px;
    height: 500px;
    background-color: white;
    display: flex;
    position: relative;
    flex-direction: column;
    margin: 2em 0 0 0;
    justify-content: center;
    align-items: center;
}

.member_span_1 {
    font-size: 18px;
    color: #A7BEC6;
    margin: 0 0 1em 0;
}

.div_login_ad {
    margin: 2em 0 0 0;
}

div_login_ad img {
    width: 500px;
    height: 400px;
}

/*btn*/
.member_btn_full {
    height: 28px;
    width: 326px;
    position: relative;
    font-size: 14px;
    background-color: #B4A29E;
    border-width: 1px;
    color: white;
    margin: 2em 0 0 0;
    
}

    .member_btn_full:hover {
        background-color: #96827f;
        cursor: pointer;
    }

.member_input_area {
    width: 300px;
    height: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    margin: 10px 0 0 0;
}

.member_input_320 {
    width: 320px;
    height: 24px;
    font-family: Microsoft JhengHei;
    padding: 1em;
}

.span_danger {
    font-size: 12px;
    color: red;
    padding: 0 0 0 18px;
}

/*external_login*/
.external_login_area {
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
    flex-direction: row;
}

.google {
    background: white;
    margin: 10px;
}

.external_login_icon {
    width: 60px;
    height: 60px;
    background-color: none;
    margin: 10px;
}

.main_column_mid {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_row_mid {
    width: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main_column_start {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 30px 20px;
}

.membercenterlist {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin: 10px 20px;
    position: relative;
}

.membercenteredit {
    width: 1250px;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 10px 20px;
    background-color: white;
}

.memberlogo {
    width: 100%;
    height: 80px;
    margin: 15px 5px;
    display: flex;
    flex-direction: row;
}

    .memberlogo img {
        display: flex;
        position: relative;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 15px;
    }

    .memberlogo span {
        position: relative;
        display: flex;
        width: 100%;
        height: auto;
        font-size: 14px;
        color: #5E5D65;
        padding: 0 0 0 15px;
        align-items: center;
    }

.memberlistblock {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    padding: 0 0 0 10px;
}

    .memberlistblock svg {
        position: relative;
        top: 12px;
    }

.membercenter_a {
    width: 100%;
    height: auto;
    display: flex;
    padding: 5px 0 0 20px;
    font-size: 14px;
    color: #5E5D65;
    font-family: 'Microsoft JhengHei', '微軟正黑體';
    align-items: center;
}

    .membercenter_a:hover {
        color: #E3BCB5;
        cursor: pointer;
    }

.a_none {
    text-decoration: none;
}

.div_none {
    display: none;
}

.memberinfo_1 {
    width: 100%;
    height: 20%;
    margin: 16px 30px;
    display: flex;
    position: relative;
    ;
    flex-direction: column;
}

    .memberinfo_1 h2 {
        margin: 5px 0;
        color: #5E5D65;
    }

    .memberinfo_1 h4 {
        margin: 5px 0;
        color: #5E5D65;
    }

.memberinfo_2 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    min-height: 80%;
    margin: 20px 30px;
}

.member_form_type_1 {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: 30px;
    align-items: center;
    margin: 20px 0 20px 0;
}

.left {
    width: 120px;
    height: 25px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: end;
    padding: 0 10px 0 0;
}

    .left label {
        font-size: 16px;
        color: #5E5D65;
    }

.right {
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: start;
    padding: 0 0 0 10px;
}

    .right input {
        font-size: 18px;
        color: #5E5D65;
        border: 1px #DFDFDF solid;
    }

.btn_comfirm {
    width: 80px;
    height: 40px;
    background-color: #CB9B8F;
    color: white;
    border: 2px #F4F4F4 solid;
    font-size: 14px;
}

    .btn_comfirm:hover {
        cursor: pointer;
    }
