.main {
    width: 100%;
    height: 100%;
}
.error_message {
    color: red;
    display: flex;
    width: 120px;
    height: 24px;
    position: relative;
    justify-content: start;
    align-items: center;
    padding: 0 0 0 10px;
    font-size: 12px;
}
/*按鈕*/
.btn_quantity {
    background-color: white;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    border: 1px #E2E2E2 solid;
}
    .btn_quantity:hover{
        cursor: pointer;
    }

    .btn_backtoProducts {
        height: 28px;
        width: 100px;
        position: relative;
    }
.btn_new, .btn_cancel, .btn_delete, .btn_submit {
    height: 28px;
    width: 50px;
    position: relative;
    font-size: 14px;
    background-color: #B4A29E;
    border-width: 1px;
    color: white;
    margin: 0 10px 0 0 ;
}
.btn_return {
    height: 28px;
    width: 100px;
    position: relative;
    font-size: 14px;
    background-color: #B4A29E;
    border-width: 1px;
    color: white;
    margin: 0 10px 0 0;
}
.btn_full {
    height: 28px;
    width: 326px;
    position: relative;
    font-size: 14px;
    background-color: #B4A29E;
    border-width: 1px;
    color: white;
}
    .btn_new:hover, .btn_cancel:hover, .btn_delete:hover, .btn_full:hover {
        background-color: #96827f;
        cursor: pointer;
    }

.btn_productstatus, .btn_productcolor {
    width: 100px;
    height: 30px;
    display: flex;
    position: relative;
    font-size: 16px;
    border: 1px #D2D3D5 solid;
    color: #6E4740;
    flex-direction: row;
    align-items: center;
    margin: 0 10px 0 0;
}
    .btn_productstatus:hover, .btn_productcolor:hover {
        color: #E7ADAC;
        border-color: #E7ADAC;
        cursor: pointer;
    }
.btn_productstatus.disable{
    pointer-events: none;
    opacity: 50%;
}

.btn_productstatus_selected, .btn_productcolor_selected {
    color: #E7ADAC;
    border-color: #E7ADAC;
}
    /*加入購物車按鈕*/
    .btn_addchart {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }
    .btn_addchart img:hover {
        border: 1px solid #5B7493;
        cursor: pointer;
    }

/*圖片預覽*/
.previewiImgs{
    position: relative;
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 100px;
}
/*table*/
.table_product {
    border: 1px solid #DFDFDF;
    font-family: 微軟正黑體;
    font-size: 12px;
    width: 1200px;
}
.th_product {
    background-color: #afccd4;
    border: 1px solid #DFDFDF;
}

/*商品圖片*/
.product_photo {
    width: 300px;
    height: 350px;
    margin: 5px 0 10px 0 ;
}

/*商品明細的模板*/
.product_detail_1 {
    width: 100%;
    max-width: 1920px;
    height: auto;
}

.product_detail_2{
    width: 80%;
    height: 250px;
    flex-direction: column;
    padding: 15px 10px 10px 10px;
    background-color: #F6F2F1;
    margin: 10px 0;
}

.product_detail_3 {
    width: 80%;
    height: auto;
    flex-direction: column;
    padding: 15px 10px 10px 10px;
    background-color: #F6F2F1;
    margin: 10px 0;
}

.product_detail_photo {
    aspect-ratio: 5/6;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}

.product_detail_photo_top {
    width: 100%;
    height: 80%;
}

.product_detail_photo_bottom {
    width: 100%;
    height: 20%;
    flex-direction: row;
}

.product_detail_select {
    width: 50%;
    flex-direction: column;
    margin-left: 2em;
}

.product_detail_select_productname {
    font-size: 24px;
    color: #797979;
    padding: 30px 10px;
}
.product_detail_span {
    font-size: 20px;
    color: black;
    padding: 5px;
    background-color: #EBE8E3;
}

.product_detail_select_price {
    font-size: 30px;
    color: red;
    padding: 5px;
    width: 50px;
}

.product_detail_status, .product_detail_color, .product_detail_remain, .product_detail_buy {
    display: flex;
    position: relative;
    height: 100px;
    flex-direction: row;
    padding: 5px;
}
#note p{
    color: black;
}

.product_detail_form {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 5px 5px 5px 10px;
}

.product_detail_form_icon {
    font-size: 14px;
    color: #CB9B8F;
    display: flex;
    position: relative;
    flex-direction: row;
    padding: 0 0 10px 0;
}

.product_h3 {
    font-size: 14px;
    color: #9AA2AD;
    padding: 5px 10px 0 0;
    margin: 0;
    width: 100px;
}
.product_h4 {
    font-size: 14px;
    color: black;
    padding: 5px 10px 0 0;
    margin: 0;
    width: 100px;
}

.input_quantity {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 5px;
}

.product_detail_addchart {
    width: 180px;
    height: 50px;
    background-color: #F7EDEB;
    border: 1px #CB9B8F solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #E7ADAC;
    margin: 0 8px 0 0 ;
    position: relative;
    top: 30px;
}
    .product_detail_addchart:hover{
        cursor: pointer;
        border-color: red;
        color: red;
    }


/*img*/
.product_detail_img_top {
    width: 100%;
    height: 100%;
}

.product_detail_img_95 {
    width: 20%;
    height: 100%;
}

.product_detail_img_95_selected {
    border: 2px #E7ADAC solid;
}
/*img*/
.none_display {
    display: none;
}

.btn_preview, .btn_next {
    width: 30px;
    height: 80px;
    background-color: transparent;
    border: none;
    position: absolute;
    align-items: center;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
}

.btn_preview {
    left: 0;
}

    .btn_preview:hover {
        cursor: pointer;
    }

.btn_next {
    right: 0;
}

    .btn_next:hover {
        cursor: pointer;
    }


.span_remain {
    position: relative;
    font-size: 14px;
    color: #CB9B8F;
    left: 10px;
    align-content: center;
}

.product_detail_Specification {
    flex-direction: column;
    align-items: start;
    padding: 5px;
}
.product_detail_Specification_1{
    width: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: start;
}

/*刪除時的警告*/
.warring{
    width: 800px;
    height: 100px;
    display:flex;
    position: relative;
    flex-direction: column;
}
    .warring li {
        color: red;
    }
    .warring span {
        color: red;
    }    

.btn_new_return_area{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 10px 0 10px 0;
}
.img_select_radio{
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    flex-direction:row;
}

@media (max-width: 800px) {
    .product_detail_1{
        width:100%;
        flex-direction:column;
    }
    .product_detail_photo {
        width: 100%;
        margin-bottom: 2em;
    }
    .product_detail_select {
        border-top: 1px #A7BEC6 solid;
        width: 100%;
        margin: 0;
    }
    .product_detail_2{
        width: 100%;
        padding: 0;
    }
    .product_detail_3 {
        width: 100%;
        padding: 0;
    }
    .product_detail_span{
        padding: 5px 0;
    }
    .product_detail_Specification{
        padding: 5px 0;
    }
}