@{
    int cartItemCount = ViewData["CartItemCount"] != null ? (int)ViewData["CartItemCount"] : 0;
}

@{
    if (cartItemCount > 0)
    {
        <span style="font-size: 12px; color: white;">
            @cartItemCount
        </span>
    }
}

