@{

}
<head>
    <link rel="stylesheet" href="~/css/carouesel.css" />
</head>
<!--商品展示carousel-->
<main>
    <div class="carousel" id="carousel">

    </div>
    <script src="~/js/carousel.js" ></script>

</main>
