<!DOCTYPE html>
<html lang="zh-hant">
<head>
    <meta charset="utf-8" />
    <title>LoginError</title>
</head>
<body>
    <script>

        window.onload = function () {
            var message = '@ViewData["Message"]'; 
            alert(message); 
        };
    </script>
</body>
</html>