@model YYBagProgram.Models.Members

<div class="membercenteredit">
    <div class="memberinfo_1">
        <h2>我的檔案</h2>
        <h4>管理你的檔案以保護你的帳戶</h4>
    </div>
    <hr style="width: 860px; border: 1px #DBE2EC solid;" />
    <div class="memberinfo_2">
        <div class="member_form_type_1">
            <div class="member_form_type_1 left">
                <label class="member_label">會員帳號</label>
            </div>
            <div class="member_form_type_1 right ">
                <input class="member_input" value="ryan7616" readonly>
            </div>
        </div>
        <div class="member_form_type_1">
            <div class="member_form_type_1 left">
                <label class="member_label">姓名</label>
            </div>
            <div class="member_form_type_1 right">
                <input class="member_input" value="ryan7616" readonly>
            </div>
        </div>
        <div class="member_form_type_1">
            <div class="member_form_type_1 left">
                <label class="member_label">密碼</label>
            </div>
            <div class="member_form_type_1 right">
                <input class="member_input" value="ryan7616" type="password" />
            </div>
        </div>
        <div class="member_form_type_1">
            <div class="member_form_type_1 left">
                <label class="member_label">手機</label>
            </div>
            <div class="member_form_type_1 right">
                <input class="member_input" value="ryan7616" type="number" />
            </div>
        </div>
        <div class="member_form_type_1">
            <div class="member_form_type_1 left">
                <label class="member_label">Email</label>
            </div>
            <div class="member_form_type_1 right">
                <input class="member_input" value="ryan7616" readonly />
            </div>
        </div>
        <div class="member_form_type_1">
            <div class="member_form_type_1 left">
                <label class="member_label">生日</label>
            </div>
            <div class="member_form_type_1 right">
                <input type="date" style="width: 225px;">
            </div>
        </div>
        <div class="member_form_type_1">
            <div class="member_form_type_1 left">
            </div>
            <div class="member_form_type_1 right">
                <button class="btn_comfirm">儲存</button>
            </div>
        </div>
    </div>
</div>