@{
    ViewData["titlemsg"] = "重設密碼";
}
<head>
    <title>YYBag-@ViewData["titlemsg"]</title>
    <link rel="stylesheet" href="~/css/member.min.css" />
</head>
<div class="main flex_direction_row flex_just_center">
    <div class="div_login_ad">
        <img src="https://fakeimg.pl/500x500/">
    </div>
    <div class="div_login flex_direction_column flex_align_item_center">
        <div class="span_forget">
            <span>重設密碼</span>
        </div>
        <div class="forget">
            <div class="member_input_area">
                <input class="input_1" placeholder="請輸入註冊之Email(必要)" id="input_email" />
                <span class="span_danger" id="span_email"></span>
            </div>
            <input type="submit" value="寄送重設密碼信件" class="member_btn_full" id="btn_sunmit" />
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {

            function getToken() {
                var token = '@Html.AntiForgeryToken()'
                token = $(token).val();
                return token;
            }

            // 寄送驗證碼
            function sendMailToken(inputvalue, callback) {
                var postData = {
                    email: inputvalue,
                };
                $.ajax({
                    url: 'sendMailTokenForReset/',
                    method: 'POST',
                    dataType: 'json',
                    data: postData,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken", getToken());
                    },
                    success: function (response) {
                        if (!response.token || !response.expirationTime) {
                            callback(false);
                        }
                        else{
                            callback(true);
                        }
                    },
                    error: function (errormessage) {
                        callback(false);
                    }
                });
            }

            //驗證帳號是否正確
            function CheckEmail(inputvalue, callback) {
                var postData = {
                    email: inputvalue
                };
                $.ajax({
                    url: 'CheckMemberEmail/',
                    method: 'POST',
                    data: postData,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("RequestVerificationToken", getToken());
                    },
                    success: function (response) {
                        callback(response);
                    },
                    error: function (errormessage) {
                        callback(false);
                    }
                })
            }

            $('#btn_sunmit').click(function (event) {
                //先清除掉span
                $('#span_email').html("");

                var inputvalue = $('#input_email').val().trim();
                //判斷是否有輸入email
                if (inputvalue.length == 0) {
                    $('#span_email').html("請輸入註冊之Email");
                    $('#input_email').focus();
                    event.preventDefault();
                    return;
                }

                //檢查此email是否有註冊
                CheckEmail(inputvalue, function (response) {
                    if (!response) {
                        $('#span_email').html("請確認信箱");
                        $('#input_email').focus();
                        event.preventDefault();
                        return;
                    }

                    //寄送驗證信
                    sendMailToken(inputvalue, function (response) {
                        if (!response) {
                            $('#span_email').html("發生錯誤，請稍後再試");
                            $('#input_email').focus();
                            event.preventDefault();
                            return;
                        }
                        else{
                            alert("請至信箱重設密碼");
                        }
                    });
                });

            })
        })

    </script>
}