@{
    ViewData["titlemsg"] = "TestForIdentity";
}

<p>
    <a href="/Home/Login">Login</a>
</p>
<p>
    <a href="/Home/Logout">Logout</a>
</p>
<p>
    <a href="/Home/UseForm">UseForm</a>
</p>
<p>
    <a href="/Home/UserInfoForm">UserInfoForm</a>
</p>
<p>
    <a href="/Home/AdminForm">AdminForm</a>
</p>
