@model YYBagProgram.Models.MonthlyHotCollectionViewModel;

@{
    ViewData["titlemsg"] = "每月強打";
}

<head>
    <title>YYBag - @ViewData["titlemsg"]</title>
    <link rel="stylesheet" href="~/css/ClassificationLayout.min.css" />
</head>
<div class="main_editor_autoheight">
    @* todo *@
    <div class="classification_area">

    </div>
    <div class="classification_main">
        <div class="classification_main_page">
            <div class="main_editor_detail">
                <div class="carousel">
                    <div class="carousel_container" id="carousel">
                        <img src="/images/2024040101-1.jpg" class="carousel_img " />
                        <img src="/images/2024040101-2.jpg" class="carousel_img" />
                        <img src="/images/2024040102-1.jpg" class="carousel_img" />
                        <img src="/images/2024040102-2.jpg" class="carousel_img" />
                        <img src="/images/2024040103-1.jpg" class="carousel_img" />
                        <img src="/images/2024040103-2.jpg" class="carousel_img" />
                        <img src="/images/2024040104-1.jpg" class="carousel_img" />
                        <img src="/images/2024040104-2.jpg" class="carousel_img" />
                    </div>
                </div>
                <div class="carousel_btn_preview" tabindex="-1" id="carousel_btn_preview" onclick="previewimg()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-caret-left" viewBox="0 0 16 16">
                        <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753" />
                    </svg>
                </div>
                <div class="carousel_btn_next" tabindex="-1" id="carousel_btn_next" onclick="nextimg()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="white" class="bi bi-caret-right" viewBox="0 0 16 16">
                        <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753" />
                    </svg>
                </div>
                <div class="btn_select_img_area">
                    <div class="btn_select_img"></div>
                    <div class="btn_select_img"></div>
                    <div class="btn_select_img"></div>
                    <div class="btn_select_img"></div>
                    <div class="btn_select_img"></div>
                    <div class="btn_select_img"></div>
                    <div class="btn_select_img"></div>
                    <div class="btn_select_img"></div>
                </div>
            </div>
        </div>
        <div class="">

        </div>
    </div>

</div>