<div class="product_main">
    <div class="product_photo">
        <a href="#">
            <img id="product_photo_url" class="product_photo" src="~/images/bagimages/test1.jpg" />
        </a>
    </div>
    <div class="product_color">
        <button class="product_color_selected">米白色</button>
    </div>
    <div style="display:flex; flex-direction:row-reverse; justify-content:space-between">
        <div class="btn_addchart">
            <img src="~/icons/cart4.svg" style="width: 25px; height: 25px" />
        </div>
        <div class="product_name_price">
            <span>韓系秋冬皺褶雲朵包</span>
            <span>NT.250</span>
        </div>
    </div>
</div>